<section class="h-screen mt-10">
  <div class="bg-white">
    <div class="relative">
      <!-- Main Hero -->
      <div class="mx-auto max-w-2xl py-32">
        <div class="hidden sm:flex sm:justify-center"></div>
        <div class="text-center flex flex-col justify-center items-center">
          <h1
            class="text-4xl font-bold tracking-tight text-gray-900 sm:text-7xl max-w-xs sm:max-w-md md:max-w-2xl"
          >
            <%= title %>
          </h1>
          <p class="text-lg leading-8 text-gray-600"><%= subTitle %></p> 
        </div>
        <!-- Search Section -->
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <form class="w-full max-w-xl lg:col-span-5 lg:pt-2">
            <div
              class="sm:border sm:border-black p-4 rounded-xl flex gap-x-4"
            >
              <!-- Search Label -->
              <label for="search" class="sr-only">Search</label>
              <div
                class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
              ></div>
              <input
                id="search"
                name="search"
                class="block w-full rounded-md border-0 bg-white py-1.5 pl-10 pr-3 text-green-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green-500 sm:text-sm sm:leading-6"
                placeholder="Search Jobs..."
                type="search"
              />
              <!-- /Search Label -->
              <button
                type="submit"
                class="inline-flex items-center gap-x-2 rounded-md bg-green-600 px-5 py-2.5 text-base text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600"
              >
                Search
              </button>
            </div>
            <p class="mt-4 text-sm leading-6 text-gray-900 text-center">
              <span class="font-semibold"><%= description %></span> 
              <%= descriptionTwo %>
            </p>
          </form>
        </div>
        <!-- /Search Section -->
      </div>
      <!-- /Main Hero -->
    </div>

    <!-- Slider main container -->
    <div class="swiper max-w-full lg:px-8">
      <!-- Additional required wrapper -->
      <div
        class="swiper-wrapper mx-auto mt-10 items-center gap-x-8 flex justify-center"
      >
        <!-- Slides -->
        <div class="swiper-slide">
          <%- include('../../components/atoms/google-icon'); %>
        </div>
        <div class="swiper-slide">
          <%- include('../../components/atoms/shipbob-icon'); %>
        </div>
        <div class="swiper-slide">
          <%- include('../../components/atoms/dribbble-icon'); %>
        </div>
        <div class="swiper-slide">
          <%- include('../../components/atoms/slack-icon'); %>
        </div>
        <div class="swiper-slide">
          <%- include('../../components/atoms/vine-icon'); %>
        </div>
        <div class="swiper-slide">
          <%- include('../../components/atoms/airbnb-icon'); %>
        </div>
        <div class="swiper-slide">
          <%- include('../../components/atoms/google-icon'); %>
        </div>
        <div class="swiper-slide">
          <%- include('../../components/atoms/shipbob-icon'); %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- sample -->
