<% title = "Job Listing" %>
<% text = "Job Listing" %>
<% subtext = "We delivered blazing fast & striking work solution" %>

<% const jobs = [
    {
        jobTitle: 'Animator & 3D Artist',
        jobWorkingHours: 'Fulltime',
        jobLocation: 'Manila, Philippines'
    },
    {
        jobTitle: 'Marketing Specialist',
        jobWorkingHours: 'Fulltime',
        jobLocation: 'Makati, Philippines'
    },
    {
        jobTitle: 'Web Designer',
        jobWorkingHours: 'Fulltime',
        jobLocation: 'Cebu, Philippines'
    },
    {
        jobTitle: 'Full Stack Developer',
        jobWorkingHours: 'Fulltime',
        jobLocation: 'Makati, Philippines'
    },
    {
        jobTitle: 'Hotel Manager',
        jobWorkingHours: 'Fulltime',
        jobLocation: 'Manila, Philippines'
    },
    {
        jobTitle: 'Personal Assistant (HR)',
        jobWorkingHours: 'Fulltime',
        jobLocation: 'Davao, Philippines'
    },
    {
        jobTitle: 'Interactive Designer',
        jobWorkingHours: 'Fulltime',
        jobLocation: 'Manila, Philippines'
    }
]; %>

<%- include('../components/molecules/page-header') %>

<div class="bg-[#f0f6f4]">
    <div>
      <!-- filter mobile -->
      <%- include('../components/molecules/filter-mobile') %>
  
      <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <!-- sort -->
        <%- include('../components/molecules/sort') %>
  
        <section aria-labelledby="products-heading" class="pb-24 pt-6">
          <h2 id="products-heading" class="sr-only">Products</h2>
          <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
            <!-- filter-desktop -->
            <%- include('../components/molecules/filter-desktop') %>
  
            <!-- job List -->
            <div class="lg:col-span-3">
              <ul role="list" class="grid grid-cols-1 gap-6">
                <!-- job card -->
                <% jobs.forEach(element => { %>
                  <%- include('../components/molecules/job-card', element) %>
                <% }) %>
              </ul>
              <%- include('../components/molecules/pagination-numbered') %>
            </div>
            
          </div>
        </section>
      </main>
    </div>
  </div>
